In [1]:
print('Hello Everyone')

Hello Everyone

In [2]:
import pandas

In [3]:
data = pandas.read_csv('data/gapminder_gdp_africa.csv', index_col='country')

In [4]:
# a method is a function associated with a variable (aka. object)
data.max()

gdpPercap_1952     4725.295531
gdpPercap_1957     5487.104219
gdpPercap_1962     6757.030816
gdpPercap_1967    18772.751690
gdpPercap_1972    21011.497210
gdpPercap_1977    21951.211760
gdpPercap_1982    17364.275380
gdpPercap_1987    11864.408440
gdpPercap_1992    13522.157520
gdpPercap_1997    14722.841880
gdpPercap_2002    12521.713920
gdpPercap_2007    13206.484520
dtype: float64

In [6]:
def print_greeting():
    print('Hello Everyone!')

In [7]:
print_greeting()

Hello Everyone!

In [8]:
print_greeting

In [9]:
print

In [ ]:
data.max

In [11]:
print_greeting('Peter')

TypeError: print_greeting() takes 0 positional arguments but 1 was given

In [16]:
def print_date(year, month, day):
    # could also have done
    # '/'.join([str(day), str(month), str(year)])
    # or
    # '/'.join([str(x) for x in [day, month, year]])
    joined = str(day) + '/' + str(month) + '/' + str(year)
    print(joined)

In [17]:
print_date(13, 3, 2017)

2017/3/13

In [18]:
myvare = 7

In [19]:
# how to remove a variable definition
del myvare

In [20]:
myvare

NameError: name 'myvare' is not defined

In [21]:
print_date(2017, 3, 13)

13/3/2017

In [22]:
print_date(2017, 'March', 13)

13/March/2017

In [23]:
returnval = print_date(2017, 3, 13)

13/3/2017

In [24]:
print(returnval)

None

In [25]:
def average(values):
    if len(values) == 0:
        return None
    return sum(values) / len(values)

In [26]:
average([1,2,3])

2.0

In [27]:
average('eggplant')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
values = [1,2]
if len(values) == 0:
    print("Empty list")
else:
    print("The list has", len(values), "values")

The list has 2 values

In [33]:
def visit_durban(bank_balance):
    ticket_price = 100
    if bank_balance < ticket_price:
        return("did nothing")
    return("visited the aquarium")

In [34]:
bank_balance = 50
print("I visited Durban and", visit_durban(bank_balance))

I visited Durban and did nothing

In [35]:
bank_balance = 150
print("I visited Durban and", visit_durban(bank_balance))

I visited Durban and visited the aquarium

In [36]:
def make_date(year, month, day):
    # could also have done
    # '/'.join([str(day), str(month), str(year)])
    # or
    # '/'.join([str(x) for x in [day, month, year]])
    joined = str(day) + '/' + str(month) + '/' + str(year)
    return(joined)

In [37]:
date = make_date(2017, 3, 13)

In [38]:
print(date)

13/3/2017

In [39]:
birthdates = [[1968, 5, 12], [1984, 7, 23], [1991, 2, 14]]

In [42]:
birthdate_strings = []
for date in birthdates:
    (year, month, day) = date
    date_string = make_date(year, month, day)
    birthdate_strings.append(date_string)

In [43]:
birthdate_strings

['12/5/1968', '23/7/1984', '14/2/1991']

In [44]:
help(make_date)

Help on function make_date in module __main__:

make_date(year, month, day)

In [45]:
help(average)

Help on function average in module __main__:

average(values)

In [46]:
def average(values):
    "Takes a list of numbers (the 'values' parameter) and returns the average"
    if len(values) == 0:
        return None
    return sum(values) / len(values)

In [47]:
help(average)

Help on function average in module __main__:

average(values)
    Takes a list of numbers (the 'values' parameter) and returns the average

In [48]:
mystring = """This is how we write multiline
strings in Python. We need to start and end
with three quote characters. They can either be
double quotes or single quotes."""

In [49]:
print(mystring)

This is how we write multiline
strings in Python. We need to start and end
with three quote characters. They can either be
double quotes or single quotes.

In [50]:
def average(values):
    """Takes a list of numbers and returns the average
    
    Parameters:
       values: list of numbers (float or int)
    Return value:
       float"""
    if len(values) == 0:
        return None
    return sum(values) / len(values)

In [51]:
help(average)

Help on function average in module __main__:

average(values)
    Takes a list of numbers and returns the average

    Parameters:
       values: list of numbers (float or int)
    Return value:
       float

In [64]:
def numbers(number):
    if number < 0:
        return("is negative")
    return("is positive")

In [65]:
result = numbers(5)

In [66]:
print(result)

is positive

In [67]:
result = numbers(-3)
print(result)

is negative

In [62]:
def numbers2(number):
    if number < 0:
        print("is negative")
    print("is positive")

In [63]:
result = numbers2(5)
print(result)

is positive
None

In [68]:
result = numbers(5)
print(result)

is positive

In [69]:
result = numbers(5)

In [70]:
numbers(5)

'is positive'

In [71]:
result = numbers(5)
print(result)

is positive

In [72]:
pandas.read_csv('data/gapminder_gdp_oceania.csv', index_col='country')

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [73]:
myvar = "a literal"

In [74]:
myvar = "a string" + " and another string"

In [75]:
myvar = numbers(15)

In [78]:
myvar = data.to_csv('/tmp/mydata.csv')

In [79]:
print(myvar)

None

In [83]:
# write a function that 
# will return the sum of the squares of numbers from 1
# up to a given number
def sum_of_squares(up_to):
    """returns the sum of the squares of numbers from 1 up to up_to"""
    result = 0
    for x in range(1, up_to+1):
        result += x ** 2
    return(result)

In [81]:
result = sum_of_squares(3)
print(result)

14

In [84]:
help(sum_of_squares)

Help on function sum_of_squares in module __main__:

sum_of_squares(up_to)
    returns the sum of the squares of numbers from 1 up to up_to

In [85]:
def sum_of_powers(up_to, power=2):
    total = 0
    for x in range(1, up_to+1):
        total += x ** power
    return(total)

In [87]:
result = sum_of_powers(3)
print(result)

14

In [88]:
print(total)

NameError: name 'total' is not defined

In [89]:
def sum_of_powers(up_to, power=2):
    total = 0
    for x in range(1, up_to+1):
        total += x ** power
    return total

In [90]:
result = sum_of_powers(3)
print(result)

14

In [91]:
result = sum_of_powers(3, power=3)
print(result)

36

In [92]:
result = sum_of_powers(3, 3)
print(result)

36

In [94]:
def sum_between(start=1, end=100):
    total = 0
    for x in range(start, end+1):
        total += x
    return(total)

In [95]:
result = sum_between(1, 10)

In [96]:
result = sum_between(end=200, start=-200)
print(result)

0

In [97]:
3 result = sum_between(end=200, 10)

SyntaxError: positional argument follows keyword argument (<ipython-input-97-6d17fc834ae5>, line 1)

In [101]:
# write a function that takes a name as a parameter
# and returns "Hello NAME" where NAME is the value of the
# name parameter
def greeting(name):
    output = "Hello" + " " + str(name)
    # output = " ".join(["Hello", str(name)])
    return(output)

In [102]:
result = greeting("Thoba")
print(result)

Hello Thoba

In [103]:
# write a function that takes a name as a parameter
# and returns "Hello NAME" where NAME is the value of the
# name parameter
def greeting(name):
    greeting = "Hello" + " " + str(name)
    # output = " ".join(["Hello", str(name)])
    return(greeting)

In [104]:
result = greeting("Thoba")
print(result)

Hello Thoba

In [105]:
result = greeting("Thoba")
print(result)

Hello Thoba

In [106]:
greeting = "Hello Class"
print(greeting)

Hello Class

In [107]:
result = greeting("Thoba")
print(result)

TypeError: 'str' object is not callable

In [108]:
myval1 = "monkey"
def myfunction():
    print(myval1)

In [109]:
myfunction()

monkey

In [110]:
BASES = ['a', 'c', 't', 'g']

In [111]:
def is_base(x):
    if x in BASES:
        print(x, "is a DNA base")
    else:
        print(x, "is not a base")

In [112]:
is_base('a')

a is a DNA base

In [113]:
is_base('q')

q is not a base

In [114]:
def myfunction2():
    myval1 = "goat"

In [116]:
myfunction2()

In [117]:
myval1

'monkey'

In [118]:
# write a function that takes a 
# number as a parameter
# and return whether it is greater than 10 or not

In [125]:
def bigger(number):
    if number > 10:
        return("the number is greater than 10")
    if number <= 10:
        return("within range")

In [123]:
result = bigger(12)
print(result)

the number is greater than 10

In [124]:
result = bigger(5)
print(result)

within range

In [126]:
def bigger2(number):
    if number > 10:
        return("the number is greater than 10")
    else:
        return("within range")

In [127]:
def bigger3(number):
    if number > 10:
        return("the number is greater than 10")
    return("within range")