The standard Python documentation on [set](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset) types. There is also a tutorial on LearnPython on [sets](http://www.learnpython.org/en/Sets).

In [2]:
animals = set(['rabbit', 'fox', 'buck', 'badger'])

In [3]:
animals

{'badger', 'buck', 'fox', 'rabbit'}

In [4]:
letters = list('yoghurt hat')

In [5]:
letters

['y', 'o', 'g', 'h', 'u', 'r', 't', ' ', 'h', 'a', 't']

In [6]:
set(42)

TypeError: 'int' object is not iterable

In [7]:
numberset = set([42])

In [8]:
numberset

{42}

In [9]:
newset = {'badger', 'buck', 'fox', 'rabbit'}

In [10]:
type(newset)

set

In [11]:
letters = list('yoghurt hat')

In [12]:
letters

['y', 'o', 'g', 'h', 'u', 'r', 't', ' ', 'h', 'a', 't']

In [13]:
letters = set('yoghurt hat')

In [14]:
letters

{' ', 'a', 'g', 'h', 'o', 'r', 't', 'u', 'y'}

In [32]:
student_string = """kirstylee
samar
moussa
javan
ephifania
samson
kehinde
clare
sarahd
anandi
manuela
yamkela
emily
wesley
ayodeji
tarryn
mustafa
firdous"""
# split on end of line (\n)
students = student_string.split('\n')
students

['kirstylee',
 'samar',
 'moussa',
 'javan',
 'ephifania',
 'samson',
 'kehinde',
 'clare',
 'sarahd',
 'anandi',
 'manuela',
 'yamkela',
 'emily',
 'wesley',
 'ayodeji',
 'tarryn',
 'mustafa',
 'firdous']

In [33]:
def in_class(name, student_list):
    for student_name in student_list:
        if student_name == name:
            return True
    else:
        # the else clause only runs if we get to the end of the
        # for loop without using break
        return False

In [34]:
in_class('tarryn', students)

True

In [35]:
in_class('thoba', students)

False

In [36]:
in_class('firdous', students)

True

In [37]:
student_set = set(students)

In [38]:
def in_class_with_set(name, student_set):
    if name in student_set:
        return True
    else:
        return False

In [39]:
in_class_with_set('firdous', student_set)

True

In [31]:
student_set

{'anandi',
 'ayodeji',
 'clare',
 'emily',
 'ephifania',
 'firdous',
 'javan',
 'kehinde',
 'kirstylee',
 'manuela',
 'moussa',
 'mustafa',
 'samar',
 'samson',
 'sarahd',
 'tarryn',
 'wesley',
 'yamkelam'}

In [42]:
student_set2 = set()
# student_set2 = {}
for name in students:
    name_with_cap = name[0].upper() + name[1:]
    print(name_with_cap)
    student_set2.add(name_with_cap)

Kirstylee
Samar
Moussa
Javan
Ephifania
Samson
Kehinde
Clare
Sarahd
Anandi
Manuela
Yamkela
Emily
Wesley
Ayodeji
Tarryn
Mustafa
Firdous

In [43]:
student_set2

{'Anandi',
 'Ayodeji',
 'Clare',
 'Emily',
 'Ephifania',
 'Firdous',
 'Javan',
 'Kehinde',
 'Kirstylee',
 'Manuela',
 'Moussa',
 'Mustafa',
 'Samar',
 'Samson',
 'Sarahd',
 'Tarryn',
 'Wesley',
 'Yamkela'}

In [44]:
'Ephifania' in student_set2

True

In [45]:
'Thoba' not in student_set2

True

In [46]:
student_set2.remove('Ephifania')

In [47]:
'Ephifania' in student_set2

False

In [48]:
student_set2.remove('Thoba')

KeyError: 'Thoba'

In [49]:
student_set2.add('Eugene', 'Warren')

TypeError: add() takes exactly one argument (2 given)

In [50]:
student_set2.add(['Eugene', 'Warren'])

TypeError: unhashable type: 'list'

In [51]:
name = 'peter'

In [52]:
name.upper()

'PETER'

In [53]:
name

'peter'

In [54]:
result = student_set2.add('Peter')

In [56]:
print(result)

None

In [57]:
result = students.append('Peter')

In [58]:
students

['kirstylee',
 'samar',
 'moussa',
 'javan',
 'ephifania',
 'samson',
 'kehinde',
 'clare',
 'sarahd',
 'anandi',
 'manuela',
 'yamkela',
 'emily',
 'wesley',
 'ayodeji',
 'tarryn',
 'mustafa',
 'firdous',
 'Peter']

In [59]:
student_set2

{'Anandi',
 'Ayodeji',
 'Clare',
 'Emily',
 'Firdous',
 'Javan',
 'Kehinde',
 'Kirstylee',
 'Manuela',
 'Moussa',
 'Mustafa',
 'Peter',
 'Samar',
 'Samson',
 'Sarahd',
 'Tarryn',
 'Wesley',
 'Yamkela'}

In [60]:
mytuple = ('hello', 'I', 'am', 'a', 'tuple')

In [61]:
mytuple

('hello', 'I', 'am', 'a', 'tuple')

In [62]:
mytuple = tuple('hello I am a tuple')

In [63]:
mytuple

('h',
 'e',
 'l',
 'l',
 'o',
 ' ',
 'I',
 ' ',
 'a',
 'm',
 ' ',
 'a',
 ' ',
 't',
 'u',
 'p',
 'l',
 'e')

In [64]:
mytuple.append('11')

AttributeError: 'tuple' object has no attribute 'append'

In [65]:
if 'l' in mytuple:
    print("yes, l is in mytuple")

yes, l is in mytuple

In [66]:
mytuple[-3:]

('p', 'l', 'e')

In [70]:
icyset = frozenset(['Polar Bear', 'Penguin', 'Walrus', 'Penguin'])

In [69]:
'Tiger' in icyset

False

In [71]:
icyset

frozenset({'Penguin', 'Polar Bear', 'Walrus'})

In [72]:
icyset.add('Leopard Seal')

AttributeError: 'frozenset' object has no attribute 'add'

In [75]:
cold_climate_animals = set([frozenset(['Polar Bear', 'Narwhal']), 
                           frozenset(['Penguin', 'Leopard Seal'])])

In [76]:
cold_climate_animals

{frozenset({'Narwhal', 'Polar Bear'}), frozenset({'Leopard Seal', 'Penguin'})}

Python [tutorial](https://docs.python.org/3/tutorial/datastructures.html#dictionaries) on dictionaries and another [tutorial](https://www.tutorialspoint.com/python/python_dictionary.htm) from TutorialsPoint on dictionaries.

In [77]:
# two ways to get a dictionary
# first, the dictionary literal
species_counts = {"fox": 11, "badger": 3, "rabbit": 22}

In [78]:
species_counts

{'badger': 3, 'fox': 11, 'rabbit': 22}

In [79]:
myset = {'fox', 'badger', 'rabbit'}

In [80]:
myset

{'badger', 'fox', 'rabbit'}

In [81]:
# second way of creating a dictionary, the dict() constructor
species_counts = dict(fox=11, badger=3, rabbit=22)

In [82]:
species_counts

{'badger': 3, 'fox': 11, 'rabbit': 22}

In [83]:
votes = {'Jane Honest': 3, 'Elmer Rapacious': 7, 'Oscar Moneybags': 11}

In [84]:
votes

{'Elmer Rapacious': 7, 'Jane Honest': 3, 'Oscar Moneybags': 11}

In [85]:
votes = dict(Jane Honest=3)

SyntaxError: invalid syntax (<ipython-input-85-5fcc8cbaa49a>, line 1)

In [86]:
if 'rabbit' in species_counts:
    print("we saw at least one rabbit")

we saw at least one rabbit

In [87]:
species_counts

{'badger': 3, 'fox': 11, 'rabbit': 22}

In [89]:
if 3 in species_counts:
    print("we saw the number 3")
else:
    print("we never saw the number 3")

we never saw the number 3

In [90]:
species_counts.keys()

dict_keys(['rabbit', 'fox', 'badger'])

In [91]:
species_counts.values()

dict_values([22, 11, 3])

In [93]:
species_counts['fox']

11

In [94]:
species_counts['fox'] = 12

In [95]:
species_counts

{'badger': 3, 'fox': 12, 'rabbit': 22}

In [101]:
species_string = """deer
rabbit
raccoon
rabbit
deer
fox
rabbit
bear"""
species_list = species_string.split('\n')

In [105]:
print(species_list)

['deer', 'rabbit', 'raccoon', 'rabbit', 'deer', 'fox', 'rabbit', 'bear']

In [111]:
# let's count some animals
species_counts = {}
# equivalent
species_counts = dict()

In [112]:
print(species_counts)

{}

In [113]:
for animal in species_list:
    print("species_counts:", species_counts)
    if animal in species_counts:
        current_count = species_counts[animal]
        species_counts[animal] = current_count + 1
    else:
        species_counts[animal] = 1

species_counts: {}
species_counts: {'deer': 1}
species_counts: {'rabbit': 1, 'deer': 1}
species_counts: {'rabbit': 1, 'raccoon': 1, 'deer': 1}
species_counts: {'rabbit': 2, 'raccoon': 1, 'deer': 1}
species_counts: {'rabbit': 2, 'raccoon': 1, 'deer': 2}
species_counts: {'rabbit': 2, 'raccoon': 1, 'fox': 1, 'deer': 2}
species_counts: {'rabbit': 3, 'raccoon': 1, 'fox': 1, 'deer': 2}

In [110]:
species_counts

{'bear': 1, 'deer': 2, 'fox': 1, 'rabbit': 3, 'raccoon': 1}

In [114]:
species_counts['tiger']

KeyError: 'tiger'

In [119]:
python_regius = 'CgiraffeCACCACCAACCACTCCTGAATGGGTAAAGTTTTGCCGCCAGCTCTTCGGAGGTTTCTCT'

In [120]:
a_count = 0
t_count = 0
g_count = 0
c_count = 0
for base in python_regius:
    if base == 'A':
        a_count = a_count + 1
    elif base == 'T':
        t_count = t_count + 1
    elif base == 'G':
        g_count = g_count + 1
    elif base == 'C':
        c_count = c_count + 1
    else:
        print("Unknown base found:", base)
print("A:", a_count)
print("T:", t_count)
print("G:", g_count)
print("C:", c_count)

Unknown base found: g
Unknown base found: i
Unknown base found: r
Unknown base found: a
Unknown base found: f
Unknown base found: f
Unknown base found: e
A: 12
T: 16
G: 12
C: 20

In [124]:
valid_bases = set(['A','T','G','C'])
base_counts = dict()
for base in python_regius:
    if base in valid_bases:
        if base not in base_counts:
            base_counts[base] = 1
        else:
            base_counts[base] = base_counts[base] + 1
print(base_counts)
for base in valid_bases:
    print(base + ":", base_counts[base])

{'G': 12, 'T': 16, 'C': 20, 'A': 12}
G: 12
T: 16
C: 20
A: 12

In [122]:
base_counts = dict()
for base in python_regius:
    if base not in base_counts:
        base_counts[base] = 1
    else:
        base_counts[base] = base_counts[base] + 1
print("A:", base_counts['A'])
print("T:", base_counts['T'])
print("G:", base_counts['G'])
print("C:", base_counts['C'])

A: 12
T: 16
G: 12
C: 20

In [125]:
species_counts

{'bear': 1, 'deer': 2, 'fox': 1, 'rabbit': 3, 'raccoon': 1}

In [126]:
species_counts.get('tiger', 0)

0

In [127]:
species_counts.get('rabbit', 0)

3

In [128]:
valid_bases = set(['A','T','G','C'])
base_counts = dict()
for base in python_regius:
    if base in valid_bases:
        base_counts[base] = base_counts.get(base, 0) + 1
print(base_counts)
for base in valid_bases:
    print(base + ":", base_counts[base])

{'G': 12, 'T': 16, 'C': 20, 'A': 12}
G: 12
T: 16
C: 20
A: 12